.top-bar-status-container {
    display: flex;
    align-items: center;
    background: #454545;
    color: white;
    justify-content: right;
}

.top-bar-container {
    display: flex;
    background: #454545;
    padding: 0em 1em;
    justify-content: space-between;
}

.logo-picture {
    height: 35px;
}