.register-container {
    display: grid;
    justify-content: center;
}

h1 {
    width: 10em;
    text-align: center;
}

.register-button {
    width: 15em;
    justify-self: center;
    margin-top: 1em;
}